<head>
    <link rel="stylesheet" href="/assets/css/logs.css">
</head>
<!-- Navigation & Intro -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
            <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
                Search
            </button>
            <a href="clear-logs" class="btn btn-outline-danger" id="clearall" role="button" aria-disabled="true">Delete
                all</a>
            <ul class="right">
                <img id="logo-img" src="/assets/images/blade.jpg">
            </ul>
        </div>
    </nav>
</div>
{{!-- searchbar options --}}
<ul id='dropdownSearch' class='dropdown-content'>
    <li>
        <a id="search-item" class="" href="">Logs</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Lists</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Tickets</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Invoices</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Help</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">About Us</a>
    </li>
</ul>
<!-- Navbar -->

<div class="container">
    <p id="page-title" class="center-align">ALL LOGS</p>

</div>
{{#each Daily_Log}}
<div class="row col s12">
    <div class="col s2 m2 l3"></div>
    <!-- Modal Trigger -->
    <div class="col">
        <a href="/delete-log/{{id}}" class="btn btn-outline-danger" id="delete-one" role="button" aria-disabled="true">X</a>
        <a id="modal-btn" class="btn-large modal-trigger" href="#{{_id}}">
            <b>{{job_title}}</b>
            <b id="date"> Date:</b> {{date}}</a>
        <a href="/find/{{id}}" class="btn " id="select" role="button" aria-disabled="true">Edit</a>

    </div>
    <div class="col s2 m2 l3"></div>
</div>
<!-- Modal Structure -->
<div id="{{_id}}" class="modal">
    <div class="modal-content">
        <span>
            <p>
                <b id="company">DATE:</b> {{date}}</p>
            <hr />
            <p>
                <b id="company">JOB TITLE:</b> {{job_title}}</p>
            <hr />
            <p>
                <b id="company">COMPANY:</b> {{company}}</p>
            <hr />
            <p>
                <b id="description">DESCRIPTION:</b> {{job_desc}}</p>
            <hr />
            <p>
                <b id="hours">HOURS WORKED:</b> {{hours}}</p>
            <hr />
            <p>
                <b id="employees">EMPLOYEES:</b> {{employees}}</p>
        </span>
    </div>
</div>
{{/each}}

<div id="form" class="container">
    <form action="update-log/{{_id}}" method="POST">
        <div class="row">
            <!-- datepicker -->
            <div id="datepicker" class="col s4">
                <input id="invoice-date" placeholder="Date" name="date" type="text" class="datepicker black-text">{{date}}
            </div>
        </div>
        <div class="row">
            <!-- job title -->
            <div class="input-field col s6">
                <input value="" id="job-title" type="text" name="job_title" class="validate">
                <label class="active" for="job-title">Job Title</label>
            </div>
            <!-- Company name -->

            <div class="row">
                <div class="input-field col s6">
                    <textarea id="job-desc" name="job_desc" class="materialize-textarea" data-length="120"></textarea>
                    <label for="job-desc">Job Description</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" name="hours" id="hours-worked"></input>
                    <label for="hours-worked">Hours worked</label>
                </div>
            </div>
            <div class="row">
                <!-- number of employes or names -->
                <div class="input-field col s6">
                    <input id="employee-input" name="employees" type="text">
                    <label for="employee-input">Names or Number of employees</label>
                </div>

                <!-- upload picture -->
                <div class="col s6">
                    <div class="file-field input-field">
                        <div id="file-btn" class="btn">
                            <span>File</span>
                            <input type="file" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                </div>
            </div>
            <button id="cancel-btn" href="/alllogs" class="btn modal-close">Cancel</button>

    </form>
</div>
</div>

<script type="text/javascript" src="/assets/js/logs.js"></script>