<head>
    <link rel="stylesheet" href="/assets/css/lists.css">
</head>

<div class="container">
    <p id="page-title" class="center-align">ALL LISTS</p>
</div>
{{#each List}}
<div id="section" class="row">
    <div class="col s12 m4 l3"></div>
    <ul id="collapsible" class="collapsible popout col s12 m4 l6">
        <li>
            <div id="header" class="collapsible-header row ">
                <p class="col">
                    <u id="name-title">{{name}}:</u> {{date}}</p>
            </div>
            <div id="collapsible-body" class="collapsible-body">
                <span>
                    <p id="list-title" class="center-align">LISTS</p>
                    <p class="center-align white-text">(Click on a list to complete it)</p>
                    <div id="collection" class="collection">
                        <a href="#!" id="collection-item" class="collection-item">{{list_1}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_2}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_3}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_4}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_5}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_6}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_7}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_8}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_9}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_10}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_11}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_12}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_13}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_14}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_15}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_16}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_17}}</a>
                        <a href="#!" id="collection-item" class="collection-item">{{list_18}}</a>
                    </div>
                </span>
            </div>
        </li>
    </ul>
    <div class="col s12 m4 l3"></div>
</div>
{{/each}}
<script type="text/javascript" src="/assets/js/lists.js"></script>