<head>
    <link rel="stylesheet" href="/assets/css/logs.css">
</head>

<a href="clear-logs" class="btn btn-outline-danger" id="clearall" role="button" aria-disabled="true">Delete
                all</a>

<div class="container">
    <p id="page-title" class="center-align">ALL LOGS</p>

</div>
{{#each Daily_Log}}
<div class="row col s12">
    <div class="col s2 m2 l3"></div>
    <!-- Modal Trigger -->
    <div class="col">
        <a href="/delete-log/{{id}}" class="btn btn-outline-danger" id="delete-one" role="button" aria-disabled="true">X</a>
        <a id="modal-btn" class="btn-large modal-trigger" href="#{{_id}}">
            <b>{{job_title}}</b>
            <b id="date"> Date:</b> {{date}}</a>
    </div>
    <div class="col s2 m2 l3"></div>
</div>
<!-- Modal Structure -->
<div id="{{_id}}" class="modal">
    <div class="modal-content">
        <span>
            <p>
                <b id="modal-titles">DATE:</b> {{date}}</p>
            <hr />
            <p>
                <b id="modal-titles">JOB TITLE:</b> {{job_title}}</p>
            <hr />
            <p>
                <b id="modal-titles">COMPANY:</b> {{company}}</p>
            <hr />
            <p>
                <b id="modal-titles">DESCRIPTION:</b> {{job_desc}}</p>
            <hr />
            <p>
                <b id="modal-titles">HOURS WORKED:</b> {{hours}}</p>
            <hr />
            <p>
                <b id="modal-titles">EMPLOYEES:</b> {{employees}}</p>
        </span>
        <div class="divider"></div>
        <p id="title-update" class="center">UPDATE LOG</p>
        <p class="center">(If you wish to update your log fill out the form and submit it.)</p>
        <div class="divider"></div>
        <form action='update-log/{{id}}' method='post'>
            <div class="form-group">
                <div class="row">
                    <div class="row">
                        <!-- datepicker -->
                        <div id="datepicker" class="col s4">
                            <input id="log-date" placeholder="Date" name="date" value="{{date}}" type="text" class="datepicker black-text">
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <input value="{{company}}" id="company" type="text" name="company" class="validate">
                        <label class="active" for="company">Company</label>
                    </div>
                    <!-- job title -->
                    <div class="input-field col s6">
                        <input id="job-title" type="text" value="{{job_title}}" name="job_title" class="validate">
                        <label class="active" for="job-title">Job Title</label>
                    </div>
                    <!-- Company name -->
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="description" type="text" name="job_desc" value="{{job_desc}}" class="materialize-textarea"
                               ></input>
                            <label for="job-desc">Job Description</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="hours" value="{{hours}}" id="hours-worked"></input>
                            <label for="hours-worked">Hours worked</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- number of employes or names -->
                        <div class="input-field col s6">
                            <input id="employee-input" value="{{employees}}" name="employees" type="text">
                            <label for="employee-input">Names or Number of employees</label>
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        {{!-- button layout for article --}}
                        <button type="submit" class="btn update-btn" id="submit-log">UPDATE</button>
                        {{!-- <a href="delete-note/{{id}}" class="btn btn-outline-danger" id="delete-comment" role="button"
                            aria-disabled="true">Delete
                            comment</a> --}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{/each}}



</div>

<script type="text/javascript" src="/assets/js/logs.js"></script>