<head>
    <link rel="stylesheet" href="/assets/css/schedules.css">
</head>
<!-- Navigation & Intro -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
            <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
                Search
            </button>
            <a href="clear-lists" class="btn btn-outline-danger" id="clearall" role="button" aria-disabled="true">Delete all</a>

            <ul class="right">
                <img id="logo-img" src="/assets/images/blade.jpg">
            </ul>
        </div>
    </nav>
</div>
{{!-- searchbar options --}}
<ul id='dropdownSearch' class='dropdown-content'>
    <li>
        <a id="search-item" class="" href="">Logs</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Lists</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Tickets</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Invoices</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Help</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">About Us</a>
    </li>
</ul>
<!-- Navbar -->
<div class="container">
    <p id="page-title" class="center-align">ALL SCHEDULES</p>
</div>

{{#each Schedule}}
<div class="row col s12">
    <div class="col s2 m2 l3"></div>
    <!-- Modal Trigger -->
    <div class="col">
        <a href="/delete-schedule/{{id}}" class="btn btn-outline-danger" id="delete-one" role="button" aria-disabled="true">X</a>
        <a id="modal-btn" class="btn-large modal-trigger" href="#{{_id}}">
            <b>FROM: </b> {{from_date}}</a>
    </div>
    <div class="col s2 m2 l3"></div>
</div>
<!-- Modal Structure -->
<div id="{{_id}}" class="modal">
    <div class="modal-content">
        <span>
            <p>
                <b id="company">DATE: </b> {{from_date}}</p>
            <hr />
            <p>
                <b id="company">JOB TITLE: </b> {{to_date}}</p>
            <hr />
            <p>
                <b id="company">COMPANY:</b> {{description}}</p>
            <hr />
        </span>
    </div>
</div>
{{/each}}

<script type="text/javascript" src="/assets/js/schedules.js"></script>