<head>
    <link rel="stylesheet" href="/assets/css/tickets.css">
</head>
<!-- Navigation & Intro -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <button id="nav-btn" class="btn sidenav-trigger " data-target="slide-out">menu</button>
            <button href="" id="nav-btn" class="dropdown-trigger btn" data-target="dropdownSearch">
                Search
            </button>
                <a href="clear-tickets" class="btn btn-outline-danger" id="clearall" role="button" aria-disabled="true">Delete all</a>

            <ul class="right">
                <img id="logo-img" src="/assets/images/blade.jpg">
            </ul>
        </div>
    </nav>
</div>
{{!-- searchbar options --}}
<ul id='dropdownSearch' class='dropdown-content'>
    <li>
        <a id="search-item" class="" href="">Logs</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Lists</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Tickets</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Invoices</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">Help</a>
    </li>
    <li class="divider" tabindex="-1"></li>
    <li>
        <a id="search-item" href="#!">About Us</a>
    </li>
</ul>
<!-- Navbar -->
<div class="container">
    <p id="page-title" class="center-align">ALL TICKETS</p>
</div>
{{#each Ticket}}
<div class="row col s12">
    <div class="col s2 m2 l3"></div>
    <!-- Modal Trigger -->
    <div class="col">
        <a href="/delete-ticket/{{id}}" class="btn" id="delete-one" role="button" aria-disabled="true">X</a>
        <a id="modal-btn" class="btn-large modal-trigger" href="#{{_id}}">
            <b>{{job_title}}</b>
            <b id="date"> Date:</b> {{date}}</a>
    </div>
    <div class="col s2 m2 l3"></div>
</div>


<!-- Modal Structure -->
<div id="{{_id}}" class="modal">
    <div class="modal-content">
        <p class="col">
            <u id="job-title">{{job_title}}:</u> {{date}}</p>
            <hr />
        <span>
            <p id="list-title" class="center-align"></p>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{company}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">COMPANY NAME</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{address}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">ADDRESS</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="{{job_desc}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">DESCRIPTION</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{materials_used}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">MATERIALS</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{equipment_used}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">EQUIPMENT USED</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{equipment_rented}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">RENTED EQUIPMENT</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{hours}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">HOURS WORKED</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{employees}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">EMPLOYEES ON SITE</label>
                </div>
            </div>
            <hr />
            <p id="follow-title" class="center-align">FOLLOW UP</p>
            <hr />
            <div class="row">
                <div class="input-field col s12">
                    <input disabled value="{{follow_job_desc}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">DESCRIPTION</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{follow_materials}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">MATERIALS NEEDED</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{follow_equipment_needed}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">EQUIPMENT NEEDED</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{follow_hours_worked}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">HOURS WORKED</label>
                </div>
                <div class="input-field col s6">
                    <input disabled value="{{total_hours}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">TOTAL HOURS WORKED</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input disabled value="{{invoice_number}}" id="disabled" type="text" class="validate">
                    <label id="label" for="disabled">INVOICE NUMBER</label>
                </div>
            </div>
        </span>
    </div>
</div>
{{/each}}

<script type="text/javascript" src="/assets/js/alltickets.js"></script>