<head>
    <link rel="stylesheet" href="/assets/css/valve.css">
</head>
<a href="clear-valves" class="btn btn-outline-danger" id="clearall" role="button" aria-disabled="true">Delete
                all</a>
<div class="container">
    <p id="page-title" class="center-align">ALL VALVE DOCUMENTS</p>
</div>
{{#each Valve}}
<div class="row col s12">
    <div class="col s2 m2 l3"></div>
    <!-- Modal Trigger -->
    <div class="col">
        <a href="/delete-valve/{{id}}" class="btn btn-outline-danger" id="delete-one" role="button" aria-disabled="true">X</a>
        <a id="modal-btn" class="btn-large modal-trigger" href="#{{_id}}">
            <b>{{city}}</b>
            <b id="date"> Date:</b> {{date}}</a>
    </div>
    <div class="col s2 m2 l2"></div>
</div>
<!-- Modal Structure -->
<div id="{{_id}}" class="modal">
    <div class="modal-content">
        <span>
            <p>
                <b id="date">DATE:</b> {{date}}</p>
            <hr />
            <p>
                <b id="name">COMPANY:</b> {{company}}</p>
            <hr />
            <p>
                <b id="note-1">CITY:</b> {{city}}</p>
            <hr />
            <p>
                <b id="note-2">DESCRIPTION OF JOB:</b> {{job_desc}}</p>
            <hr />
            <p>
                <b id="note-3">VALVE DESCRIPTION:</b> {{valve_desc}}</p>
            <hr />
            <p>
                <b id="note-3">VALVE DESCRIPTION:</b> {{valve_desc2}}</p>
            <hr />
            <p>
                <b id="note-3">VALVE DESCRIPTION:</b> {{valve_desc3}}</p>

        </span>
        <div class="divider"></div>
        <p id="title-update" class="center">UPDATE Valvesheet</p>
        <p class="center">(If you wish to update your log fill out the form and submit it.)</p>
        <div class="divider"></div>
        <form action="/update-valve/{{id}}" method="POST">
            <div class="row">
                <!-- datepicker -->
                <div id="datepicker" class="col s4">
                    <input id="valve-date" value="{{date}}" placeholder="Date" name="date" type="text" class="datepicker black-text">
                </div>
            </div>
            <div class="row">
                <!-- city -->
                <div class="input-field col s6">
                    <input value="{{city}}" id="city" type="text" name="city" class="validate">
                    <label class="active" for="city">City</label>
                </div>
                <!-- Company name -->
                <div class="input-field col s6">
                    <input value="{{company}}" id="company" name="company" type="text" class="validate">
                    <label class="active" for="company-name">Company Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{job_desc}}" id="job_desc" name="job_desc" class="materialize-textarea">
                    <label class="active" for="job-desc">Job Notes</label>
                </div>
            </div>
            <div class="row">
                <!-- number of employes or names -->
                <div class="input-field col s12">
                    <input id="valve-description" value="{{valve_desc}}" name="valve_desc" rows="5" type="text">
                    <label for="valve-description">Valve Descriptions</label>
                </div>
            </div>
            <div class="row">
                <!-- number of employes or names -->
                <div class="input-field col s12">
                    <input id="valve-description2" value="{{valve_desc2}}" name="valve_desc2" rows="5" type="text">
                    <label for="valve-description2">Valve Descriptions</label>
                </div>
            </div>
            <div class="row">
                <!-- number of employes or names -->
                <div class="input-field col s12">
                    <input id="valve-description3" value="{{valve_desc3}}" name="valve_desc3" rows="5" type="text">
                    <label for="valve-description3">Valve Descriptions</label>
                </div>
            </div>
            <button type="submit" id="submit-valve" class="btn submit pulse">UPDATE</button>
        </form>
    </div>
</div>
{{/each}}





<script type="text/javascript" src="/assets/js/valve.js"></script>